
/*carousel-image. I can change the height to match the shortest pic for smooth movements or make the img short for banner*/
.carousel-inner{
  max-width:100%;
  max-height:900px !important;
}

.carousel-caption {
  position:absolute;
  text-align: center;
  margin-bottom: 200px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
