html,
 {}

/*carousel-image. I can change the height to match the shortest pic for smooth movements or make the img short for banner*/
.carousel-inner{
  max-width:100%;
  max-height:650px !important;
}

.carousel-caption h1 {
  margin-bottom: 200px;
  margin-left: 25%;
  line-height: 1.4;
  text-shadow: 8px 0px 8px 0px;
}

/*text area on carousel images*/
h1 {
  font-family: Rockwell, Georgia, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  background: #FF5252;
  padding: 0 .5em;
  max-width: 60%;
  position: relative;
  box-sizing: border-box;
  font-size: 2em;
  color: #ffffff;
  margin-top: 40vh;
  letter-spacing: .1em;
  text-align: center;
  background: #FF5252;
  vertical-align: middle;
  font-size: 5vw;
}


h1:before,
h1:after {
  content: '';
  display: block;
  border-top: 1px solid #ffffff;
  width: 150%;
  margin-left: -25%;
  position: absolute;
  line-height: 1.1em;
  top: 50%;
  z-index: -1;
  left: 0;
  box-sizing: border-box;
  margin-top: -2px;
}

h1:after {
  margin-top: 2px;
}

#about1 {
    background: url('https://firebasestorage.googleapis.com/v0/b/pics-85b52.appspot.com/o/sunset-815270_960_720.jpg?alt=media&token=912440cf-abce-4864-b825-9e6256220e15') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchFloat{
  float: right;
}

.titleText {
  float right;
}

.photo {
  width: 200px;
  height: 200px;
  margin-top: -20px;
  border-radius: 100px;
  border: 4px solid #fff;
float: center;
}

p {
     text-indent: 2.0em;
   }

   .dropdown-menu a:hover {
     background-color: pink;
   }

   .dropdown:hover .dropdown-menu {
       display: block;
   }

/*main nav hover*/
   .nav-item:hover a:hover {
     background-color: pink;
     border-radius: 5px 5px 5px 5px;
     /*color: white;*/
   }

/*center navbar items*/
   .navbar .navbar-nav {
   display: inline-block;
   float: none;
   vertical-align: top;
 }

 .navbar .navbar-collapse {
   text-align: center;padding: inherit;
 }


}
