.photo {
  width: 200px;
  height: 200px;
  margin-top: -20px;
  border-radius: 100px;
  border: 4px solid #fff;
float: center;
}

figcaption {
float: center;

   }

   .dropdown-menu a:hover {
     background-color: pink;
   }

   .dropdown:hover .dropdown-menu {
       display: block;
   }

/*main nav hover*/
   .nav-item:hover a:hover {
     background-color: pink;
     border-radius: 5px 5px 5px 5px;
     /*color: white;*/
   }

/*center navbar items*/
   .navbar .navbar-nav {
   display: inline-block;
   float: none;
   vertical-align: top;
 }

 .navbar .navbar-collapse {
   text-align: center;padding: inherit;
 }
 .searchFloat {
   float: right;
 }
